<!--header starts here-->
<header>
  <section class="wrapper">
    <h1 class="logo"><%= link_to (image_tag "logo.png", :title => 'Welcome to InsureTab', :alt => 'Welcome to InsureTab'), action: 'index', controller: 'main' %></h1>
    <!-- Nav -->
    <nav >
      <ul>
        <li>Save Big</li>
        <li>Compare Prices</li>
        <li>100% Free Quote</li>
      </ul>
    </nav>
    <!-- /Nav -->
    <div class="clear"></div>
  </section>
</header>
<!--header close here-->